
@{
    ViewData["Title"] = "AssignRole";
}

<h1 class="alert alert-info display-4">Assign Role To User</h1>
<div class="row">
    <h4 class="text-primary text-center">@ViewBag.msg</h4>
</div>

<div class="row">
    <div class="col-6">
        <form asp-action="AssignRole" asp-controller="Role" method="post">
            <label>User List :</label>
            <select class="form-control" name="userdata">
                <option value="">
                    ----Select----
                </option>
                @foreach (var item in ViewBag.users)
                {
                    <option value="@item.Email">@item.Email</option>
                }
            </select>
            <label>Role List :</label>
            <select class="form-control" name="userdata">
                <option value="">
                    ----Select----
                </option>
                @foreach (var item in ViewBag.roles)
                {
                    <option value="@item.NormalizedName">@item.NormalizedName</option>
                }
            </select>
            <button class="btn btn-success mt-2">
                Assign Role
            </button>
        </form>
    </div>
</div>


